<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="pythonPath" value="C:\Python27\python.exe"/>
    <add key="pythonSplitScriptPath" value="split_to_sentences.py"/>
  </appSettings>
</configuration>